#C++ Objects
*.a
*.lib
*.o
*.o.log
*.log

# Build artifacts
*.generic.log
*.bak
Source/BuildLog.txt

# Out files
*.out

# Workshop
Workshop/

# Documentation
doc/doxygen/*
doc/sphinx/*

#Visual Studio
.vs/
.vscode/

BBP.sln
BBP.vcxproj
BBP.vcxproj.filters
BBP.vcxproj.user

#Doxygen stuff
.doc/doxygen/html
.doc/doxygen/latex
/CppProperties.json
